.bg-black{
background-color: black;
}
.fg-red{
 color: red;
}
.fg-white{
color: white;
}

/* .webdev-header{
 background-color: black;color: red;
}
.webdev-text{
background-color: black;color: white;
} */